# Local build/test directories
build
cmake
pytorch

# Obsolete directories
ThirdPartyLibs/libtorch
ThirdPartyLibs/arrow_parquet
ThirdPartyLibs/arrow_src

# Vim buffer files
.*.s??

# JetBrains IDE settings
.idea

cmake-build-release/

CMakeUserPresets.json
