Package: pythiadia
Version: 1.0
Section: base
Priority: optional
Architecture: amd64
Depends: qtbase5-dev, qtchooser, qt5-qmake, qtbase5-dev-tools, hdf5-tools, libhdf5-dev, libboost-all-dev, libcurl4-openssl-dev, libhdf5-dev, libbrotli-dev, libutf8proc2, libre2-5, libsnappy1v5, libthrift-0.13.0
Maintainer: Drew Nichols anichols@seer.bio
Description: PythiaDIA
 My precious engine
 One algo to rule them all
 Seek peptides, find them
